:root {
  --point-color: #32A0FF;
  --bg-gray: #F0F0F0;
  --light-gray-color: #DEDEDE;
  --dark-gray-color: #9E9E9E;
  --sub-red-color: #FF6565;
  --sub-yellow-color:#FFEB5F;

  --font-semi:600;
  --font-11:0.6875rem;
  --font-12:0.75rem;
  --font-13:0.8125rem;
  --font-14:0.875rem;
  --font-15:0.9375rem;
  --font-16:1rem;
  --font-18:1.125rem;
  --font-20:1.25rem;
  --font-22:1.375rem;
  --font-24:1.5rem;
  --font-26:1.625rem;
  --font-30:1.875rem;
}

#dep, #arr { display: none; }

.route_modal {
  width: 100%; height: 100vh;
  position: fixed;
  top: 0; left: 0;
  padding: 65px 0 16px;
  box-sizing: border-box;
  display: none;
  background-color: white;
  z-index: 100;
  padding: 16px 8px; box-sizing: border-box;
}

.route_modal #roClose {
  position: absolute;
  top: 15px; right: 10px;
  font-size: var(--font-18);
  border: none;
  background-color: white;
}

.route_modal .ro_label {
  position: absolute;
  top: 15px;
  width: 150px; height: 40px;
  background-color: #F3F4F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 2px 5px;
}

.route_modal .ro_label label {
  width: 50%;
  text-align: center;
  display: block;
  color: var(--dark-gray-color);
}

.route_modal .ro_label label.ro_chk {
  padding: 8px; box-sizing: border-box;
  background-color: var(--point-color);
  color: white;
  border-radius: 20px;
}

.route_modal .dep_box .area {
  display: flex;
  margin-top: 50px;
  margin-bottom: 10px;
}

.route_modal .dep_box .area p {
  padding: 5px 10px;
  margin-right: 10px;
  color: var(--dark-gray-color);
  font-weight: 600;
  font-size: var(--font-18);
  white-space: nowrap;
  cursor: pointer;
}

.route_modal .dep_box .area .area_chk {
  color: black;
  border-bottom: 1px solid black;
}

.route_modal .dep_box .choose > div p {
  height: 40px;
  line-height: 40px;
  text-indent: 16px;
  cursor: pointer;
}

.ch_chk {
  background-color: rgba(255, 235, 95, 0.3);
  border-radius:10px;
  font-weight: 600;
}



/**************************/

@media all and (min-width: 601px) {
  .route_modal {
    margin-bottom: 50px;
  }
  .route_modal #roClose {
    font-size: var(--font-26);
  }
  .route_modal .ro_label {
    width: 230px; height: 50px;
  }
  .route_modal .ro_label label {
    font-size: var(--font-20);
  }
  .route_modal .dep_box .area {
    margin-top: 60px;
  }
  .route_modal .dep_box .area p {
    font-size: var(--font-22);
    padding: 10px 20px;
  }

  .route_modal .dep_box .choose > div p {
    font-size: var(--font-20);
    height: 60px;
    line-height: 60px;
  }

}

/**************************/

@media all and (min-width: 1025px) {
  .route_modal {
    width: 1100px; height: 500px;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.3);
    overflow: hidden !important;
  }
}